@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		display: inline;
		top: 440px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: scroll;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #fff;
		border-right: 1px solid #000;
	}
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

#navTop {
	background-color: #F96360;
	border: none;
	height: 50px;
	display: block;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

#navMiddle {
	text-align: center;
	background-color: #fff;
	border: none;
	margin-top: 10px;
	border-bottom: black solid 1px;
}

#btnJoin, #btnLogin, #btnMyPage {
	margin: 13px 10px 0 0;
	background-color: #F96360;
	border: none;
	align-self: center;
}

.jumbotron {
	display: inline;
}

.jumbotron #imgLogo {
	width: 300px;
	display: block;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

/*Calendar loader*/
#ajaxLoader {
	height: 200px;
	position: fixed;
	top: 44%;
	left: 44%;
	z-index: 999;
}

/*Calendar loader*/
/* Sidebar navigation */
.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	color: #fff;
	background-color: #F96360;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.nav-sidebar>.sidebarList {
	
}

/* board **/
.table-board {
	text-align: center;
}

.board-top {
	float: right;
	margin: 10px;
}

.board-top-left {
	float: left;
	margin: 10px;
}

.board-bottom {
	float: right;
}

.btn-normal {
	font-size: 14px;
	font-weight: bold;
	background: #F8BD25;
	color: white;
	min-width: 80px;
	max-height: 30px;
	outline: none !important;
}

#search-txt {
	height: 30px;
}

#search-key {
	height: 30px;
	padding-bottom: 2px;
}

.pagination>li {
	
}

/*
   body{ 
      margin-top:40px; 
   }*/

/*job-board*/
.table-board {
	text-align: center;
}

.board-top {
	float: right;
	margin: 10px;
}

.board-top-left {
	float: left;
	margin: 10px;
}

.board-bottom {
	float: right;
}

.board-page {
	text-align: center;
}

.btn-normal {
	font-size: 14px;
	font-weight: bold;
	background: #F8BD25;
	color: white;
	min-width: 80px;
	max-height: 30px;
	outline: none !important;
	padding: 5px;
}

#search-txt {
	height: 30px;
}

#search-key {
	height: 30px;
	padding-bottom: 2px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

/*write*/
.btn-board-write {
	font-size: 15px;
	font-weight: bold;
	background: #F8BD25;
	color: white;
	min-width: 80px;
	max-height: 30px;
	outline: none !important;
	margin: 5px;
}

.board-write-bottom {
	float: right;
	margin-right: 90px;
}

form {
	display: block;
	margin-top: 50px;
}

table {
	table-layout: fixed;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	line-height: 180%;
}

tbody {
	display: table-row-group;
	border-color: inherit;
	color: #333;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

th {
	width: 110px;
	padding: 8px 0 8px 15px;
	border-top: 1px solid #e7e7e7;
	background-color: #fff;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
	letter-spacing: 1px;
}

.txtLess {
	font-size: 15px;
	height: 30px;
	padding: 10px;
	text-align: center;
}

th, td {
	border: 0;
	vertical-align: top;
	margin: 0;
	padding: 0;
	border-top: 1px solid #e7e7e7;
}

td {
	font-size: 13px;
	width: 10;
	padding: 8px 0 8px 10px;
	text-align: left;
}

.title-left {
	text-align: left;
}

/*게시글내용*/
.contents-footer a {
	color: #333;
}

.contents-footer {
	padding: 10px;
	text-align: right;
}

.contents-comment {
	padding: 10px 0 0 0;
}

.favorite {
	margin-right: 10px;
}

.board-contents-bottom {
	padding: 5px 0px 0px 0px;
}

.wdate {
	text-align: right;
	padding: 10px 10px 0 0;
}

.detail {
	text-align: center;
}

.context {
	padding: 0 0 0 20px;
}

.btn-default {
	background-color: #F8BD25;
	color: white;
}

.control {
	color: black;
}

/**/

/*tab CSS*/
.no {
	width: 10%;
}

.title {
	width: 50%;
}

.date {
	width: 20%;
}

.comment {
	width: 10%;
}

.hits {
	width: 10%;
}

/*cursor*/
.tab .nav-tabs li a:hover {
	border-top-width: thick;
	border-top-color: #F96360;
	border-left: none;
	border-right: none;
	padding: 13px 35px;
	font-size: 16px;
	background: transparent;
	color: #333333;
	font-weight: 900;
}
/*click*/
.tab .nav-tabs li.active a, .tab .nav-tabs li.active a:focus, .tab .nav-tabs li.active a:hover
	{
	border-top-width: thick;
	border-top-color: #F96360;
	border-left: none;
	border-right: none;
	padding: 13px 35px;
	font-size: 16px;
	background: transparent;
	color: #333333;
	font-weight: 900;
	transition: background 0.20s linear 0s;
	font-size: 16px;
}
/**basic font**/
.tab .nav-tabs li a {
	border: none;
	padding: 13px 35px;
	color: #333333;
	background: transparent;
	border-radius: 0;
	font-size: 16px;
}
/*END tab CSS*/

/*pager CSS*/
.navv {
	text-align: center;
}

.navv .pagination a {
	color: #000000;
	font-weight: bold;
	border: none;
	padding: 10px 30px;
}
/*END pager CSS*/

/*profile-talbe CSS*/
#btnWithdrawal {
	font-size: 16px;
	font-weight: bold;
	background: #F8BD25;
	border-radius: 3px;
	border: none;
	min-width: 040px;
	color: #FFF;
	margin-bottom : 5px;
}

#btnModify {
	font-size: 16px;
	font-weight: bold;
	background: #F8BD25;
	border-radius: 3px;
	border: none;
	min-width: 040px;
	color: #FFF;
	margin-right: 10px;
	margin-bottom : 5px;
}

#profileMoWi {
	border-bottom: none;
}

#profile-table {
	border-top: black solid 2px;
}
/*END profile-talbe CSS*/

/*search */
#searchCondition {
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 3px;
}

/*END search */
#btnPage{
	background-color: #f96360;
	color: white;
	font-weight: bold;
	border: 2px solid #ffffff;
	margin-top : 7px;
}
#logoutbtn{
	background-color: #f96360;
	color: white;
	font-weight: bold;
	border: 2px solid #ffffff;
	margin-top : 7px;
	margin-right : 5px;
}
#pager{
	border: none;
}

/* chart css */
#chartTable {
        border-left:1px solid #fff;       
        border-right:1px solid #fff;
        border-top:1px solid #fff;
        border-bottom:1px solid #fff;
    }
#cocc {
    height: 400px;
}

#jobcc {
    height: 400px;
}

#logincc {
    height: 400px;
}
